*.iml
.gradle
/app/lint-report.html
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/caches/grade_models.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
